name: Continuous Integration

on:
  workflow_call:
  merge_group:
    branches: ['*']
  pull_request:
    branches: ['*']
  push:
    branches: ['*']

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout current branch (full)
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: coursier/cache-action@bebeeb0e6f48ebad66d3783946588ecf43114433 # v7.0.0
        with:
          extraKey: ${{ runner.os }}
      - uses: coursier/setup-action@039f736548afa5411c1382f40a5bd9c2d30e0383 # v1.3.9
        with:
          jvm: adopt:1.8
      - name: Build, test, and package project on Spark 3.5
        run: bin/sbt clean compile test package makePom -DsparkVersion=3.5.1
      - name: Build and package project on "legacy" Spark
        run: bin/sbt clean compile package makePom
