name: Continuous Integration

on:
  workflow_call:
  pull_request:
    branches: ['*']
  push:
    branches: ['*']

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout current branch (full)
        uses: actions/checkout@v4
      - uses: coursier/cache-action@v6
        with:
          extraKey: ${{ runner.os }}
      - uses: coursier/setup-action@v1
        with:
          jvm: adopt:1.8
      - name: Build, test, and package project on Spark 3.3
        run: bin/sbt clean compile test package makePom -DsparkVersion=3.5.1
      - name: Build and package project on "legacy" Spark
        run: bin/sbt clean compile package makePom
