name: Release

on:
  release:
    types: [published]
  #push:
  #  tags: "[1-9]+.[0-9]+.[0-9]+"

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  deploy:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout current branch (full)
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: coursier/cache-action@bebeeb0e6f48ebad66d3783946588ecf43114433 # v7.0.0
        with:
          extraKey: ${{ runner.os }}
      - uses: coursier/setup-action@039f736548afa5411c1382f40a5bd9c2d30e0383 # v1.3.9
        with:
          jvm: adopt:1.8
      # uses sbt-github-packages, see build.sbt
      - name: Publish with SBT
        run: bin/sbt publish
      - name: Publish with SBT
        run: bin/sbt publish -DsparkVersion=3.5.1
