# This workflow will launch at 00:00 every Sunday
on:
  workflow_dispatch:
  # The Scala Steward Bot runs this for target/data-validator as long as
  # it's listed in https://github.com/VirtusLab/scala-steward-repos/blob/main/repos-github.md.
  # schedule:
    # At 09:00 on day-of-month 1 and 15 
    # https://crontab.guru/#0_9_1,15_*_*
    # - cron: '0 9 1,15 * *'

name: Launch Scala Steward

env:
  # This is required because SBT is configured to look at env:GITHUB_TOKEN or git:github.token or env:SHELL
  # to get a token for publishing even when not executing the publish task. Most of the time, SHELL is set
  # but apparently not inside GitHub Actions runners. Setting _something invalid_ satisfies the
  # GitHub Packages plugin safely and allows the operation to proceed.
  SHELL: "/bin/bash"

jobs:
  scala-steward:
    runs-on: ubuntu-latest
    name: Launch Scala Steward
    steps:
      - name: Install JDK for Scala Steward use
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: 'temurin'
          java-version: '11'
      - name: Launch Scala Steward
        uses: scala-steward-org/scala-steward-action@5bbb0a3f32b42774f8ba1ed18c29db5d915d2200 # v2.80.0
        with:
          github-token: ${{ secrets.REPO_GITHUB_TOKEN }}
          author-email: "41898282+github-actions[bot]@users.noreply.github.com"
          author-name: "github-actions[bot]"
